/* line 13, ../scss/_variables.scss */
h1, h2, h3, h4, h5, h6, li, p, button, input[type='submit'], label.custom, html, body {
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: 'liga', 'dlig';
  -moz-font-feature-settings: 'liga', 'dlig';
  font-feature-settings: 'liga', 'dlig';
  text-rendering: optimizeLegibility;
}

/* line 21, ../scss/_variables.scss */
a, input:not([type="button"]), textarea, select, label.custom > input[type="radio"] + span, label.custom > input[type="checkbox"] + span, .label {
  -moz-transition: all 0.125s ease-in-out;
  -webkit-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
}

/* line 27, ../scss/_variables.scss */
h1, h2, h3, h4, h5, h6, li, p, input:not([type="button"]), textarea, select, button, input[type='submit'] {
  font-family: "proxima-nova",sans-serif;
  font-weight: 300;
  color: #3c4d59;
  line-height: 1.5em;
}

/* line 34, ../scss/_variables.scss */
.row {
  clear: both;
}
/* line 37, ../scss/_variables.scss */
.row:after, .row:before {
  display: table;
  content: "";
  line-height: 0;
  visibility: hidden;
}
/* line 44, ../scss/_variables.scss */
.row:after {
  clear: both;
}

/* line 6, ../scss/_type.scss */
h1, h2 {
  color: #08c681;
  font-size: 1.75rem;
}

/* line 11, ../scss/_type.scss */
h2 {
  color: #3c4d59;
  font-weight: 700;
  font-size: 1.25rem;
}

/* line 17, ../scss/_type.scss */
h3, h4, h5, h6 {
  font-size: 1rem;
}

/* line 21, ../scss/_type.scss */
ul {
  margin-top: 0;
  padding-left: 2em;
}

/* line 26, ../scss/_type.scss */
li, p {
  font-size: 1rem;
  line-height: 1.75em;
  margin: 0 0 1.5em 0;
}
/* line 31, ../scss/_type.scss */
li:last-child, p:last-child {
  margin: 0;
}

/* line 36, ../scss/_type.scss */
li {
  margin-bottom: 0;
}

/* line 40, ../scss/_type.scss */
a {
  color: #08c681;
  text-decoration: none;
}
/* line 45, ../scss/_type.scss */
a:hover {
  color: #069d66;
}

/* line 1, ../scss/_forms.scss */
input:not([type="button"]), textarea, select {
  width: 100%;
  color: #3c4d59;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  font-size: 1rem;
  height: 3rem;
  border: none;
  border-bottom: 1px solid #a4acb2;
  padding: 0 .5em;
}
/* line 15, ../scss/_forms.scss */
input:not([type="button"]):hover, textarea:hover, select:hover {
  background-color: rgba(220, 229, 235, 0.25);
}
/* line 19, ../scss/_forms.scss */
input:not([type="button"]):focus, textarea:focus, select:focus {
  border-color: #3c4d59;
  background-color: transparent;
}
/* line 25, ../scss/_forms.scss */
input:not([type="button"])[type='number']::-webkit-outer-spin-button, input:not([type="button"])[type='number']::-webkit-inner-spin-button, textarea[type='number']::-webkit-outer-spin-button, textarea[type='number']::-webkit-inner-spin-button, select[type='number']::-webkit-outer-spin-button, select[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* line 30, ../scss/_forms.scss */
input:not([type="button"])::-webkit-input-placeholder, input:not([type="button"]) ::-moz-placeholder, input:not([type="button"]):-ms-input-placeholder, input:not([type="button"])::placeholder, textarea::-webkit-input-placeholder, textarea ::-moz-placeholder, textarea:-ms-input-placeholder, textarea::placeholder, select::-webkit-input-placeholder, select ::-moz-placeholder, select:-ms-input-placeholder, select::placeholder {
  color: #a4acb2;
  font-size: .9em;
}
/* line 35, ../scss/_forms.scss */
input:not([type="button"]).is_valid, textarea.is_valid, select.is_valid {
  border-bottom-color: #08c681;
}
/* line 39, ../scss/_forms.scss */
input:not([type="button"]).has_error, textarea.has_error, select.has_error {
  background-color: rgba(234, 30, 78, 0.05);
  border-bottom-color: #ea1e4e;
  color: #ea1e4e;
}
/* line 44, ../scss/_forms.scss */
input:not([type="button"]).has_error::-webkit-input-placeholder, input:not([type="button"]).has_error ::-moz-placeholder, input:not([type="button"]).has_error:-ms-input-placeholder, input:not([type="button"]).has_error::placeholder, textarea.has_error::-webkit-input-placeholder, textarea.has_error ::-moz-placeholder, textarea.has_error:-ms-input-placeholder, textarea.has_error::placeholder, select.has_error::-webkit-input-placeholder, select.has_error ::-moz-placeholder, select.has_error:-ms-input-placeholder, select.has_error::placeholder {
  color: #ea1e4e;
  font-size: .9em;
}

/* line 51, ../scss/_forms.scss */
select {
  -webkit-appearance: none;
}

/* line 55, ../scss/_forms.scss */
button, input[type='submit'] {
  display: block;
  outline: none;
  color: #eef2f5;
  font-weight: 500;
  border: none;
  font-size: 1.2rem;
  height: 3rem;
  border-radius: 2px;
  background-color: #08c681;
  width: 300px;
  box-shadow: 0 2px 0 #069d66;
  text-shadow: 0 1px 0 #069d66;
  cursor: pointer;
}
/* line 72, ../scss/_forms.scss */
button:hover, input[type='submit']:hover {
  background-color: #069d66;
  box-shadow: 0 2px 0 #035336;
  text-shadow: 0 1px 0 #035336;
}

/* line 80, ../scss/_forms.scss */
label.custom {
  font-weight: 300;
  position: relative;
  font-size: 1.33rem;
  cursor: pointer;
  padding-left: 1.35em;
  margin-right: 20px;
}
/* line 89, ../scss/_forms.scss */
label.custom > input[type="radio"], label.custom > input[type="checkbox"] {
  position: absolute;
  opacity: 0 !important;
  height: 1em;
}
/* line 94, ../scss/_forms.scss */
label.custom > input[type="radio"] + span, label.custom > input[type="checkbox"] + span {
  position: absolute;
  top: 50%;
  left: 1px;
  margin-top: -0.5em;
  height: 1em;
  width: 1em;
  border-radius: 1em;
  border: 2px solid #08c681;
  display: block;
}
/* line 108, ../scss/_forms.scss */
label.custom > input[type="radio"]:checked + span, label.custom > input[type="checkbox"]:checked + span {
  box-shadow: #eef2f5 0 0 0 5px inset;
  background-color: #08c681;
}
/* line 116, ../scss/_forms.scss */
label.custom > input[type='checkbox'] + span {
  border-radius: 3px;
}
/* line 121, ../scss/_forms.scss */
label.custom.disabled {
  opacity: .5;
  font-style: italic;
  cursor: default;
}

/* line 128, ../scss/_forms.scss */
.label {
  position: absolute;
  z-index: 0;
  opacity: 0;
  top: 0;
  left: 1px;
  color: #08c681;
  font-weight: 700;
  font-size: 10px;
}

/* line 141, ../scss/_forms.scss */
.has_value .label {
  top: -4px;
  opacity: 1;
}

/* line 147, ../scss/_forms.scss */
.parsley-error-list {
  position: absolute;
  bottom: 3rem;
  margin: 0 0 3px 5%;
  padding: 0;
  list-style: none;
  background-color: rgba(234, 30, 78, 0.85);
  width: 90%;
  border-radius: 2px;
}
/* line 157, ../scss/_forms.scss */
.parsley-error-list li {
  font-weight: 700;
  text-align: center;
  color: #eef2f5;
  text-shadow: 1px 1px 1px #ab1035;
  font-size: .75rem;
  padding: .5em;
}
/* line 166, ../scss/_forms.scss */
.parsley-error-list:after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -4px;
  content: ' ';
  border: 8px solid transparent;
  border-top-color: rgba(234, 30, 78, 0.85);
}

/* line 1, ../scss/_core.scss */
html, body {
  background-color: #dce5eb;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 18px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #3c4d59;
}

/* line 13, ../scss/_core.scss */
* {
  box-sizing: border-box;
}

/* line 17, ../scss/_core.scss */
img {
  width: 100%;
}

/* line 21, ../scss/_core.scss */
header {
  position: relative;
  background: #08c681;
  background: -moz-radial-gradient(top, ellipse cover, #08c681 0%, #069d66 100%);
  background: -webkit-radial-gradient(top, ellipse cover, #08c681 0%, #069d66 100%);
  background: -o-radial-gradient(top, ellipse cover, #08c681 0%, #069d66 100%);
  background: -ms-radial-gradient(top, ellipse cover, #08c681 0%, #069d66 100%);
  background: radial-gradient(ellipse at top, #08c681 0%, #069d66 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$brand_color', endColorstr=' $brand_color_dark',GradientType=1 );
  height: 300px;
}

/* line 33, ../scss/_core.scss */
#headline {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 960px;
  margin-left: -480px;
  text-align: center;
  background-color: #eef2f5;
}

/* line 43, ../scss/_core.scss */
#wrapper {
  margin: 0 auto;
  width: 960px;
  background-color: #eef2f5;
  padding: 1.75rem 0 1.75rem;
}

/* line 1, ../scss/_grid.scss */
.row {
  position: relative;
  margin: 0 20px 1.5rem;
}
/* line 6, ../scss/_grid.scss */
.row.full_width {
  width: auto;
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
}

/* line 14, ../scss/_grid.scss */
.split {
  display: -webkit-box;
  display: box;
}
/* line 18, ../scss/_grid.scss */
.split.align_center {
  -webkit-box-pack: center;
}
/* line 22, ../scss/_grid.scss */
.split > * {
  position: relative;
  width: 0;
  margin-right: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  box-flex: 1;
  flex: 1;
}
/* line 31, ../scss/_grid.scss */
.split > *:last-child {
  margin-right: 0;
}
/* line 36, ../scss/_grid.scss */
.split > .extra_width {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  box-flex: 2;
  flex: 2;
}

/* line 45, ../scss/_grid.scss */
.no_margin {
  margin-bottom: 0 !important;
}

/* line 49, ../scss/_grid.scss */
.quarter_margin {
  margin-bottom: .375rem !important;
}

/* line 53, ../scss/_grid.scss */
.half_margin {
  margin-bottom: .75rem !important;
}

/* line 57, ../scss/_grid.scss */
.extra_margin {
  margin-top: 2rem !important;
  margin-bottom: 1.75rem !important;
}

/* line 62, ../scss/_grid.scss */
.centered {
  margin: 0 auto;
}
