input:not([type="button"]), textarea, select {
	@extend %animated;
	@extend %font;
	width: 100%;
	color: $dark_color;
	background-color: transparent;
	box-shadow: none;
	outline: none;
	font-size: 1rem;
	height: 3rem;
	border: none;
	border-bottom: 1px solid $ghosted_color;
	padding: 0 .5em;

	&:hover {
		background-color: rgba($overlay_color, .25);
	}

	&:focus {
		border-color: $dark_color;
		background-color: transparent;
	}

	&[type='number']{
		&::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}
	}

	&::-webkit-input-placeholder,::-moz-placeholder, &:-ms-input-placeholder, &::placeholder {
		color: $ghosted_color;
		font-size: .9em;
	}

	&.is_valid {
		border-bottom-color: $brand_color;
	}

	&.has_error {
		background-color: rgba($alert_color, .05);
		border-bottom-color: $alert_color;
		color: $alert_color;

		&::-webkit-input-placeholder,::-moz-placeholder, &:-ms-input-placeholder, &::placeholder {
			color: $alert_color;
			font-size: .9em;
		}
	}
}

select {
	-webkit-appearance: none;
}

button, input[type='submit'] {
	@extend %font;
	@extend %smooth;
	display: block;
	outline: none;
	color: $light_color;
	font-weight: 500;
	border: none;
	font-size: 1.2rem;
	height: 3rem;
	border-radius: 2px;
	background-color: $brand_color;
	width: 300px;
	box-shadow: 0 2px 0 $brand_color_dark;
	text-shadow: 0 1px 0 $brand_color_dark;
	cursor: pointer;

	&:hover {
		background-color: $brand_color_dark;
		box-shadow: 0 2px 0 darken($brand_color_dark, 15%);
		text-shadow: 0 1px 0 darken($brand_color_dark, 15%);
		
	}
}

label.custom {
	@extend %smooth;
	font-weight: 300;
	position: relative;
	font-size: 1.33rem;
	cursor: pointer;
	padding-left: 1.35em;
	margin-right: $gutter;

	> input[type="radio"], > input[type="checkbox"] {
		position: absolute;
		opacity: 0 !important;
		height: 1em;

		+ span {
			@extend %animated;
			position: absolute;
			top: 50%;
			left: 1px;
			margin-top: -.5em;
			height: 1em;
			width: 1em;
			border-radius: 1em;
			border: 2px solid $brand_color;
			display: block;
		}

		&:checked {
			+ span {
				box-shadow: $light_color 0 0 0 5px inset;
				background-color: $brand_color;
			}
		}
	}

	> input[type='checkbox'] {
		+ span {
			border-radius: 3px;
		}
	}

	&.disabled {
		opacity: .5;
		font-style: italic;
		cursor: default;
	}
}

.label {
	@extend %animated;
	position: absolute;
	z-index: 0;
	opacity: 0;
	top: 0;
	left: 1px;
	color: $brand_color;
	font-weight: 700;
	font-size: 10px;
}

.has_value {
	.label {
		top: -4px;
		opacity: 1;
	}
}

.parsley-error-list {
	position: absolute;
	bottom: 3rem;
	margin: 0 0 3px 5%;
	padding: 0;
	list-style: none;
	background-color: rgba($alert_color, .85);
	width: 90%;
	border-radius: 2px;

	li {
		font-weight: 700;
		text-align: center;
		color: $light_color;
		text-shadow: 1px 1px 1px darken($alert_color, 15%);
		font-size: .75rem;
		padding: .5em;
	}

	&:after {
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -4px;
		content : ' ';
		border: 8px solid transparent;
		border-top-color: rgba($alert_color, .85);
	}
}