[class^="icon_"] {
	background-size: 3rem auto;
	background-repeat: no-repeat;
	height: 3rem;
	width: 3rem;
	display: inline-block;
}

.icon_account {
	background-image: url("../images/icon_account@2x.png");
}